.home.page {
  display: none;
  // background: url(../resources/img/bg/bg2.png) 0 0 no-repeat;
  background-size: 100% 100%;

  .content {
    //      overflow: scroll;
    position: absolute;
    top: 24%;
    width: 90%;
    height: 72%;
    left: 5%;
  }

  .bg-topic {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 10%;
  }

  .home-popup-bg {
    position: absolute;
    width: 95%;
    //      height: 118vw;
    left: 2.5%;
    //      bottom: 5%;
    top: 5%;
    $money-width: 70%;

    .home-popup-img {
      //          position: absolute;
      width: 100%;
      //          left: 0;
      //          bottom: 0;
    }

    .file-btn {
      //          animation: myBounceIn 1s .4s both;
      position: absolute;
      width: $money-width;
      //          bottom: 50%;
      top: 3%;
      left: (100 - $money-width)/2;

      > .bg {
        width: 100%;
      }

      .old {
        @include abs_full_page();
        /*@include display_flex(vertical);*/
        img {
          position: absolute;
          height: 68%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .new {
        display: none;
        @include abs_full_page();
        /*@include display_flex(vertical);*/
        img {
          position: absolute;
          height: 85%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .inputbox {
      position: absolute;
      top: 45%;
      width: $money-width;
      left: (100% - $money-width)/2;

    }

    .macket-select {
      position: absolute;
      top: 60%;
      width: $money-width;
      left: (100% - $money-width)/2;

      .inputtext {
        text-indent: 20%;
        color: $main-font-color-r;
      }

      input::-webkit-input-placeholder {
        color: $main-font-color-r;
      }

      input:-moz-placeholder {
        color: $main-font-color-r;
      }

      input::-moz-placeholder {
        color: $main-font-color-r;
      }

      input:-ms-input-placeholder {
        color: $main-font-color-r;
      }
    }

    .sure-btn {
      $sure-btn-width: 56%;
      position: absolute;
      left: 50%;
      width: $sure-btn-width;
      margin-left: -($sure-btn-width/2);
      top: 76%;
      //          animation-delay: 2.2s;
    }

    .btn_myprize {
      $sure-btn-width: 30%;
      position: absolute;
      left: 50%;
      width: $sure-btn-width;
      margin-left: -($sure-btn-width/2);
      top: 83%;
      //          animation-delay: 2.2s;
    }
  }

}
