.marketintro.page {
  display: none;
  //  background: url(../resources/img/bg/bg.png) no-repeat left top;
  //  background-size: 100% 100%;

  .btn-join {
    position: absolute;
    left: 22.5%;
    bottom: 5%;
    width: 55%;
  }

  .btn_know {
    position: absolute;
    right: 8%;
    bottom: 5%;
    width: 40%;
  }

  .product {
    position: absolute;
    width: 80%;
    top: 14%;
    left: 10%;
  }
}
