.marketdetail.page{
    display: none;
    @include abs_full_page();
//  background: url(../resources/img/bg/bg.png) no-repeat left top;
//  background-size: 100% 100%;
    
    overflow: hidden;
    .container{
        
        @include display_flex(vertical);
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .mackets-popup-bg{
            $mackets-popup-bg-width: 94%;
            position: relative;
            width: $mackets-popup-bg-width;
            top: 1%;
            .title_market{
                width: 68%;
                position: absolute;
                left: 15%;
                top: 5%;
            }
            .mackets-popup-img{
                width: 100%;
                left: 0;
                bottom: 0;
            }
            .choose_market{
                position: absolute;
                width: 35%;
                top: -4%;
                right: 6.5%;
            }
            .mackets-tip{
                    $mackets-tip-width: 100%;
                    position: absolute;
                    width: $mackets-tip-width;
                    text-align: center;
                    font-size: .80rem;
                    color: $main-font-color-g;
                    white-space:nowrap;
                    top: 10%;
                }
            .link{
                position: absolute;
                width: 85%;
                top: 22%;
                left: 7.5%;
            }
            .detail{
             
                position: absolute;
                width: 85%;
                top: 48%;
                left: 7.5%;
                text-align: center;
                .btn_link{
                    width: 100%;
                }
                .time{
                    width: 40%;
                    position: absolute;
                    bottom: 6%;
                    left: 28%;
                    padding: 1% 1%;
                    font-size: .7rem;
                    color: #FFFFFF;
                    background-color: #f8b614;
                    margin: 0;
                    border-radius: 10px;
                }
            }
            .yugou{
                position: absolute;
                width: 85%;
                left: 7.5%;
                top: 71%;
                text-align: center;
                font-size: .6rem;
                color: #a6a6a6;
                line-height: 1rem;
                .date,.marketname{
                    color: #4cbceb;
                }
                .money{
                    color: #f44341;
                }
            }
            
        }
        .type2{
            .mackets-popup-img{
                width: 100%;
                left: 0;
                bottom: 0;
            }
            .detail{
                top: 56%;
            }        
        }
    }
}