.play.page{
    .playShowCanvas {
    width:100%;
    height:100%;
}
}
.play2.page{
    .playShowCanvas {
    width:100%;
    height:100%;
}}
.snowbg.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
