//.storyover{
// position: relative;
//  .over{
//      z-index: 10;
//      width: 100%;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      left: 0;
//      .tiaoguo{
//          position: absolute;
//          top: 3%;
//          right: 4%;
//          width: 11%;
//      }
//  }
//}
.story {
  //  background: none;
  background: url(../resources/img/bg/BG2.png) no-repeat left top;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .container1, .container2 {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .story_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .tiaoguo {
    position: absolute;
    bottom: 3%;
    //          right: 4%;
    left: 45%;
    width: 10%;
  }

  .story_img {
    width: 90%;
    position: absolute;
    top: 13%;
    left: 5%;
  }

  .text {
    text-align: left;
    width: 80%;
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: .65rem;
    color: #FFFFFF;
    line-height: 1.2rem;
  }

  //  .story_text{
  //      text-align: left;
  //      width: 80%;
  //      position: absolute;
  //      top: 55%;
  //      left: 20%;
  //      font-size: .65rem;
  //      color: #FFFFFF;
  //      line-height: 1.2rem;
  //  }
  .see-more-l {

    position: fixed;
    bottom: 45%;
    //              text-align: center;
    width: 32%;
    left: 5px;
    z-index: 2;

    .img1 {
      position: absolute;
      width: 15%;
      top: 0%;
      left: 0%;
    }

    .img2 {
      position: absolute;
      width: 15%;
      top: 0%;
      left: 10%;
    }

    .slideup {
      animation: fadeInimg 2s infinite;
    }

    .slideup1 {
      animation: fadeInimg 2s infinite 1s;
    }
  }

  .see-more-r {

    position: fixed;
    bottom: 45%;
    //              text-align: center;
    width: 32%;
    right: 5px;
    z-index: 2;

    .img1 {
      position: absolute;
      width: 15%;
      top: 0%;
      right: 0%;
    }

    .img2 {
      position: absolute;
      width: 15%;
      top: 0%;
      right: 10%;
    }

    .slideup {
      animation: fadeInimg 2s infinite;
    }

    .slideup1 {
      animation: fadeInimg 2s infinite 1s;
    }
  }
}

.story.page {
  .story5 {
    .story_bg {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .storyend_text {
      text-align: center;
      width: 100%;
      position: absolute;
      //      top: 35%;
      left: 0%;
      font-size: .7rem;
      color: #FFFFFF;
      line-height: 1.2rem;
      height: 50%;
      bottom: 15%;
      //      overflow: scroll;
    }

    .btn-join {
      width: 50%;
      position: absolute;
      bottom: 5%;
      left: 25%;
    }

    .tengxun {
      color: dodgerblue;
      text-decoration: underline;
    }
  }
}


@-webkit-keyframes fadeInimg {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeInimg {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
