.storyend.page{
    .story_bg{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .story_text{
        text-align: center;
        width: 95%;
        position: absolute;
        top: 35%;
        left: 2.5%;
        font-size: .7rem;
        color: #FFFFFF;
        line-height: 1.2rem;
    }
    .btn-join{
        width: 50%;
        position: absolute;
        bottom: 8%;
        left: 25%;
    }
}
