# .eslintignore

build/*.js
config/*.js

dist/*
dist/*.js
dist/*.vue

static/*
static/*.js

.nuxt/*
.nuxt/*.js
.nuxt/*.vue

utils/underscore-simple.js

plugins/ga.js
plugins/webrtc.js
plugins/copy-right.js
plugins/baidu-seo-push.js
