.fail.popup{
    display: none;
    .box2{
        display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            z-index: 2;
            .cropbox{
                position: absolute;
                width: 80%;
                height: 80%;
                top: 10%;
                left: 10%;
                border: 1px solid #FFFFFF;
                background: #000000;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    .box{
        
        .wrap{
            .content{
                $content-width: 85%;
                position: absolute;
                width: $content-width;
                left: (100% - $content-width)/2;
                top: 23%;
                .bottom{
                    position: relative;
                    background-image: url("../resources/img/img_shgz.png");
                    background-size: 100%;
                    width: 50%;
                }
                .photo-wrap{
                    $photo-wrap-width: 50%;
                    position: absolute;
                    width: $photo-wrap-width;
                    height: $photo-wrap-width;
                    margin-left: -($photo-wrap-width/2);
                    left: 50%;
                    top: 5%;
                    overflow: hidden;
                    @include display_flex();
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    border-radius: .3rem;
                }
                .zhang{
                    position: absolute;
                    width: 38%;
                    top: 24%;
                    right: 12%;
                    animation-delay: 1s;
//animation: rotateIn 1s 1s;
                }
                .tips{
                    font-size: .6rem;
                    color: #FFFFFF;
                    line-height: 1.5;
                    margin-top: .5rem;
                    width: 90%;
                    margin-left: 5%;
                    p{
                        margin: 0;
                    }
                    span{
                        color: $main-font-color-y;
                    }
                    a{
                        text-decoration: none;
                        color: $main-font-color-y;
                    }
                }
            }
            .btn_reupload{
                $sure-btn-width: 48%;
//              position: absolute;
                width: $sure-btn-width;
                margin-top: 4%;
//              margin-left: -($sure-btn-width/2);
//              left: 50%;
//              bottom: 10%;
            }
            .btn_back{
                position: absolute;
                bottom: 4%;
                text-align: center;
                width: 100%;
                                        
                .rule_link{
                    width: 20%;
                    padding: .5rem;
                    background: url(../resources/img/btn/line.png) no-repeat right center;
                    background-size: 2px 17px;
                }
                .feedback_link{
                    width: 20%;
                    padding: .5rem .1rem;
                }
                
            }
        }
    }
}
