.game.popup{
    display: none;
    .box{
        .wrap{
            .content{
                $content-width: 70%;
                position: absolute;
                width: $content-width;
                left: (100%-$content-width)/2;
                top: 16%;
            }
        }
    }
}
