.gift38.popup {
  display: none;

  .title {
    height: 4%;
    top: 24%;
  }

  .giftbox {
    $mackets-popup-bg-width: 72%;
    position: absolute;
    width: $mackets-popup-bg-width;
    top: 32%;
    left: (100%-$mackets-popup-bg-width)/2;
    background: #FFFFFF;
    border-radius: 5px;

    .giftimg {
      position: absolute;
      width: 20%;
      top: 26%;
      left: 5%;
    }

    .giftintro {
      width: 70%;
      margin-left: 30%;
      text-align: left;
      font-size: .5rem;
      color: $main-font-color-g;
      line-height: .9rem;
      padding: 5% 0%;

      span {
        font-size: .8rem;
        color: $main-font-color-r;
      }
    }
  }

  .redpack {
    top: 52%;
    //      .giftimg{
    //         top: 10%;
    //      }
    .giftintro {
      padding: 8.5% 0%;
    }
  }

}
