.myfeedback.popup{
    display: none;
    @include display_flex(vertical);
    .mask{
        background: rgba(0, 0, 0, 0);
        @include abs_full_page();
    }
    .box{
    .wrap{
//      $wrap-width: 86%;
//      position: relative;
//      width: $wrap-width;
        top: -3%;
        .btn_close{
            position: absolute;
            width: 12%;
            right: 44%;
            top: 101%;
        }
        .no_feedback{
            display: none;
             position: absolute;
            width: 20%;
            right: 40%;
            top: 30%;
        }
        .content{
            position: absolute;
            top: 20%;            
            width: 80%;
            height: 73%;
            left: 10%;
            overflow: scroll;
            text-align: left;
            p{ word-wrap:break-word; word-break:normal; }
        }
        .question{
            width: 88%;
            font-size: .6rem;
            color: $main-font-color-y;
            position: relative;
            padding-left: 12%;
            padding-bottom: 8%;
        }
        .question:before{
//           content:url('../resources/img/btn/btn_wen.png');
            content: "";
            width: 20px;
            height: 20px;
            background: url(../resources/img/btn/btn_wen.png) no-repeat top left;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .answer{
            width: 88%;
            font-size: .6rem;
            position: relative;
            padding-left: 12%;
            color: #FFFFFF;
            padding-bottom: 8%;
        }
        .answer:before{
            content: "";
            width: 20px;
            height: 20px;
            background: url(../resources/img/btn/btn_da.png) no-repeat top left;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }}
}
