.myselect78.popup {
    display: none;
    display: none;
    .box {
        .wrap {
            .title {
                height: 9%;
                top: 24%;
            }
            .btn_selectagain {
                position: absolute;
                width: 38%;
                bottom: 7%;
                left: 31%;
            }
            .sure-btn {
                bottom: 14%;
            }
            .scroll {
                $mackets-popup-bg-width: 72%;
                position: absolute;
                width: $mackets-popup-bg-width;
                top: 36%;
                left: (100%-$mackets-popup-bg-width)/2;
                height: 38%;
                overflow: scroll;
            }
            .giftbox {
                display: none;
                $mackets-popup-bg-width: 100%;
                position: relative;
                width: $mackets-popup-bg-width;
                top: 0;
                float: left; //      left: (100%-$mackets-popup-bg-width)/2;
                background: #FFFFFF;
                border-radius: 5px;
                margin-bottom: 3%;
                .giftimg {
                    position: absolute;
                    height: 60%;
                    top: 20%;
                    left: 5%;
                }
                .giftintro {
                    width: 40%;
                    margin-left: 60%;
                    text-align: left;
                    font-size: 0.5rem;
                    color: $main-font-color-g;
                    line-height: 0.9rem;
                    padding: 5% 0;
                    span {
                        font-size: 0.8rem;
                        color: $main-font-color-r;
                    }
                    :before{
                        content: ' ';
                        position: absolute;
                        width: 1px;
                        height: 60%;
                        top: 20%;
                        left: 50%;
                        background: #eaeaea;
                    }
                }
                
            }
            .redpack {
                display: block;
                    .giftimg {
                        height: 75%;
                        top: 17.5%;
                        left: 10%;
                    }
                }
        }
    }
}
