.myselect38.popup{
    display: none;
    .box{
        .wrap{
          .title{
            height: 9%;
            top: 24%;
        }
        .btn_selectagain{
            position: absolute;
            width: 38%;
            bottom: 7%;
            left: 31%;
        }
        .sure-btn{
            bottom: 14%;
        }
        .giftcard1,.giftcard2{
            display: none;
            position: absolute;
            width: 75%;
            top: 37%;
            left: 12.5%;
        }  
        }
    }
    
}