.phone.popup {
  display: none;

  .box {
    .wrap {
      .giftname {
        position: absolute;
        width: 80%;
        top: 18%;
        left: 10%;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 1.5rem;
        font-weight: 600;
      }

      .content {
        $content-width: 50%;
        position: absolute;
        width: $content-width;
        left: (100%-$content-width)/2;
        top: 34%;
      }

      .phonetip {
        position: absolute;
        top: 72%;
        width: 74%;
        left: 13%;
        color: #FFFFFF;
        font-size: .6rem;
      }

      .inputbox {
        position: absolute;
        top: 60%;
        width: 70%;
        left: 15%;

        .inputtext {
          color: #ac4110;
          font-weight: 600;
        }

        .inputbtn {
          position: absolute;
          top: 0%;
          right: -27%;
          height: 100%;
          width: 24%;
          background-color: #FFFFFF;
          border: none;
          outline: none;
          color: #ac4110;
          font-size: .6rem;
          text-align: center;
          //                  font-weight: 600;
          border: 1px solid #da3025;
          //                  padding: 3% 2%;
          //                  vertical-align: middle;
          border-radius: 5px;
        }
      }

      .btn_duihuan {
        bottom: 10%;
      }
    }
  }
}
