.prize.panel{
    display: none;
    .box{
        .wrap{
//          width: 80%;
//          .sure-btn{
//              $sure-btn-width: 60%;
//              position: absolute;
//              width: $sure-btn-width;
//              margin-left: -($sure-btn-width/2);
//              left: 50%;
//              bottom: 8%;
//              animation-delay: 1.5s;
//          }
//          .back-home{
//              height: 3%;
//              position: absolute;
//              left: 21%;
//              bottom: 8%;
//              padding: .5em;
//          }
//          .back_fk{
//              height: 3%;
//              position: absolute;
//              right: 21%;
//              bottom: 8%;
//              padding: .5em;
//          }
            .sure-btn{
                bottom: 11%;
            }
            .back-home{
                width: 24%;
                position: absolute;
                bottom: 3%;
                left: 37%;
                padding: 2% 0;
            }
            .img-redpack{
                $img-redpack-width: 60%;
                position: absolute;
                width: $img-redpack-width;
                left: (100% - $img-redpack-width)/2;
                top: 26%;
            }
            .result{
                $result-width: 75%;
                animation-delay: .5s;
                position: absolute;
                bottom: 24%;
                width: $result-width;
                left: (100% - $result-width)/2;
                padding: 0;
                margin: 0;
                list-style-type: none;
                font-size: 14px;
                color: $main-font-color;
                font-weight: normal;
                li{
                    margin-bottom: .3rem;
                }
                p{
                    margin: auto 8px;
                    white-space: nowrap;
                    span{
                        display: inline-block;
                    }
                    :nth-child(1){
                        width: 46%;
                        text-align: right;
                        padding-right: 4%;
                    }
                    :nth-child(2){
                        width: 50%;
                        text-align: left;
//                      padding-left: 10px;
                    }
                }
                .time{
                    /*font-size: 11px;*/
                }
            }
        }
    }
}