

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease
}

.panel {
//  margin-bottom: 20px;
//  background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: left;
}

.panel-body {
//  padding: 15px 0px;
    font-size: .7rem;
    color: #FFFFFF;
}

.panel-heading {
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8rem;
    color: inherit;
    text-align: left;
    color: #FFFFFF;
}

.panel-title>a {
    color: inherit;
    text-decoration: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.list-group {
    margin-bottom: 0
}

.panel>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.list-group+.panel-footer,
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}

.panel>.panel-collapse>.table,
.panel>.table,
.panel>.table-responsive>.table {
    margin-bottom: 0
}
.panel-group {
//  margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.panel-group .panel-heading {
    border-bottom: 1px solid #FFFFFF
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
//  border-top: 1px solid $main-font-color-g
}

.panel-group .panel-footer {
    border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #FFFFFF
}


.problem.popup{
    display: none;
    
    .box{
        .mask2{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .wrap{
            .btn_ask{
                position: absolute;
                width: 31%;
                bottom: 8%;
                left: 12%;
                font-size: .8rem;
//              color: $main-font-color-g;
                text-decoration: underline;
                letter-spacing: -1px;
            }
            .feedback{
                position: absolute;
                width: 20%;
                bottom: 10%;
                right: 20%;
                font-size: .8rem;
//              color: $main-font-color-g;
                text-decoration: underline;
                letter-spacing: -1px;
            }
            #accordion1{
                position: absolute;
                width: 80%;
                height: 60%;
                overflow: scroll;
                top: 22%;
                left: 10%;
                .ptitle{
                    
                }
                .answer{
                    color: #FFFFFF;
                    font-size: .65rem;
                    line-height: 1.2rem;
                }
            }
        }
    }
    
}