.redpacket.panel{
    display: none;
    z-index: 6;
    .box{
        .wrap{
            .content{
                position: absolute;
                width: 70%;
                top: 30%;
                left: 15%;
            }
        }
    }
}
