.select.popup{
    display: none;
//  .mask2{
//          background: none;
//      }
    .box{
    .wrap{
        @include abs_full_page();
        position: relative;
        height: 40%;
        width: 85%;
        .select-content{
            $select-content-width: 90%;
            position: absolute;
            width: $select-content-width;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background:  url("../resources/img/bg/marketbg.png") 0 0 no-repeat;
            background-size: 100% 100%;
            text-align: center;
            height: 100%;
//          padding-bottom: 2rem;
        }
//      .see-more{
//          bottom: 2%;
//      }
        .select_box{
            $select-content-width: 100%;
            position: absolute;
            width: $select-content-width;
            left: 0%;
            top: 10%;
//          transform: translate(-50%, -50%);
            text-align: center;
            height: 70%;
            overflow: auto;
            ul{
                padding: 0 2rem;
                margin: 0;
                height: 100%;
//              overflow: scroll;
                li{
                    $li-line-height: 2.4rem;
                    $select-bg-height: 1rem;
                    list-style-type: none;
                    line-height: $li-line-height;
                    position: relative;
                    text-align: left;
                    background-position: right;
                    background-size: $select-bg-height $select-bg-height;
                    background-repeat: no-repeat;
                }
                li.non_selected{
                    background-image: url("../resources/img/non_selected.png");
                }
                li.selected{
                    background-image: url("../resources/img/selected.png");
                }
            }
        }
    }
    }
}