.share.popup{
    display: none;
    z-index: 10;
    .wrap{
        width: 100%;
        height: 100%;
        .img-share1{
            display: none;
            position: absolute;
            width: 64%;
            right: 2%;
            top: 2%;
        }
        .img-share2{
            display: none;
            position: absolute;
            width: 84%;
            right: 2%;
            top: 2%;
        }
    }
}
