.shouhuo.popup{
    display: none;
    .box{
      .wrap{
        width: 84%;
//      .alphabox{
//          width: 85%;
//          position: absolute;
//          top: 44%;
//          left: 7.5%;
//          text-align: left;
//      }
       .addrbox{
            width: 85%;
            position: absolute;
            top: 44%;
            left: 7.5%;
            text-align: left;
            input{
                width: 100%;
                border: solid 1px #dacec0;
                font-size: .6rem;
                margin-bottom: 3%;
                color: #dacec0;
                padding: 3% 2%;
                border-radius: 3px;
            }
            .person,.sendperson{
                width: 49%;
                display: inline-block;
            }
            .tofriend{
//          position: absolute;
            width: 100%;
            border: solid 1px #dacec0;
                font-size: .6rem;
                margin-bottom: 1%;
                color: #dacec0;
                padding: 3% 2%;
                border-radius: 3px;
        }
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
        color: #dacec0; 
        } 
        input:-moz-placeholder, textarea:-moz-placeholder { 
        color: #dacec0; 
        } 
        input::-moz-placeholder, textarea::-moz-placeholder { 
        color: #dacec0; 
        } 
        input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
        color: #dacec0; 
        } 
//          dl{
//              margin: 2% 0;
//          }
//          dt{
//              margin: 0;
//              font-size: 12px;
//               color: $main-font-color;
//               line-height: 20px;
//          }
//          dd{
//              margin: 0;
//              width: 100%;
//
//              .shouhuo{
//                  background: url(../resources/img/bg/input_info_bg.png) no-repeat left top;
//                  border: none;
//                  background-size: 100% 100%;
//                  width: 90%;
//                  padding: 10px 5%;
//                  color: #484948;
//                  font-size: 12px;
//                  font-weight: 400;
//              }
                #area{
                    background: url(../resources/img/bg/input_b.png) no-repeat right center;
//                  border: none;
                    background-size: 10% auto;
                    width: 99%;
//                  padding: 0 5%;
//                  height: 32px;
//                  line-height: 32px;
//                  color: #484948;
//                  font-size: 12px;
//                  font-weight: 400;
//                  display: inline-block;
                    user-select:none;
                    
                    border: solid 1px #dacec0;
                font-size: .6rem;
                margin-bottom: 3%;
                color: #dacec0;
                padding: 3% 0%;
                border-radius: 3px;
                }
//              
//          }

       }
       .shouhuo_tip{
           $shouhuo_tip: 77%;
            position: absolute;
            width: $shouhuo_tip;
            left: (100% - $shouhuo_tip)/2;
            bottom: 22%;
       }
       .btn_message{
           bottom: 10%;
       }
//     .back-fk{
//     height: 3%;
//      position: absolute;
//      left: 50%;
//      transform: translateX(-50%);
//      bottom: 6%;
//     }
      }
    }


}
