.success2.popup{
    display: none;

    .box{
        
        .wrap{
            .title{
                height: 5%;
            }
            .img-redpack{
                $red-show-width: 60%;
                position: absolute;
                width: $red-show-width;
                left: (100% - $red-show-width)/2;
                top: 23%;
            }
               .btn_myprize2{
             bottom: 8%;      
            }
           .result{
                $result-width: 74%;
                animation-delay: .5s;
                position: absolute;
                top: 54%;
                width: $result-width;
                left: (100% - $result-width)/2 + 4%;
                padding: 0;
                margin: 0;
                font-size: .8rem;
                color: #484948;
                font-weight: normal;
                color: #FFFFFF;
                tr{
                   margin: auto 10px;
//                 white-space: nowrap;
                   :nth-child(1){
                        width: 40%;
                        text-align: left;
                        vertical-align: top;
                    }
                    :nth-child(2){
                        width: 60%;
                        text-align: left;
                    } 
                    .red{
                        color: #E13533;
                    }
                }

            }
//          .result{
//              $result-width: 75%;
//              animation-delay: .5s;
//              position: absolute;
//              top: 53%;
//              width: $result-width;
//              left: (100% - $result-width)/2;
//              padding: 0;
//              margin: 0;
//              list-style-type: none;
//              font-size: 14px;
//              color: #FFFFFF;
//              font-weight: normal;
//              li{
//                  margin-bottom: .7rem;
//              }
//              p{
//                  margin: auto 8px;
//                  white-space: nowrap;
//                  
//                  span{
//                      display: inline-block;
//                  }
//                  :nth-child(1){
//                      width: 46%;
//                      text-align: right;
//                      padding-right: 4%;
//                  }
//                  :nth-child(2){
//                      width: 50%;
//                      text-align: left;
////                      padding-left: 10px;
//                  }
//              }
//              .time{
//                  /*font-size: 11px;*/
//              }
//          }
        }
        
    }
}