.toast.popup{
    display: none;
    .box{
    .wrap{
        width: 80%;
        left: 5%;
        p{
            position: absolute;
            top: 40%;
            width: 70%;
            left: 7%;
            color: $main-font-color-r;
            font-size: .6rem;
            line-height: 1rem;
        }
        .sure_tip{
            width: 100%;
            color: $main-font-color-g;
            font-size: .5rem;
            top: 56%;
            left: -8%;
        }
        .gongxi,.makesure{
          display: none;  
        }
        .done{
            display: none; 
            .btn_back{
                width: 30%;
                position: absolute;
                bottom: 25%;
                left: 26%;
            }
        }
            .btn_wait{
                /*display: none;*/
                width: 30%;
                position: absolute;
                bottom: 22%;
                right: 25%;
            }
            .btn_now{
                width: 30%;
                position: absolute;
                bottom: 22%;
                left: 9%;
            }
            .btn_think{
                /*display: none;*/
                width: 30%;
                position: absolute;
                bottom: 22%;
                right: 25%;
            }
            .btn_sure{
                width: 30%;
                position: absolute;
                bottom: 22%;
                left: 9%;
            }

    }}
}