.upload.popup {
  display: none;

  .box {
    .wrap {
      //          .btn_close{
      //              position: absolute;
      //              width: 15%;
      //              top: 13%;
      //              right: 2%;
      //          }
      .content {
        $content-width: 72%;
        position: absolute;
        width: $content-width;
        left: (100%-$content-width)/2;
        top: 23%;
      }

      label {
        $select-btn-width: 48%;
        position: absolute;
        width: $select-btn-width;
        left: (100%-$select-btn-width)/2;
        bottom: 6%;
      }

      .select-btn {
        width: 100%;
        //              $select-btn-width: 48%;
        //              position: absolute;
        //              width: $select-btn-width;
        //              margin-left: -($select-btn-width/2);
        //              left: 50%;
        //              bottom: 6%;
      }
    }
  }

  .file {
    display: none;
  }
}
