.working.popup{
    display: none;
    .box{
        .wrap{
            .content{
                position: absolute;
                width: 70%;
                top: 27%;
                left: 15%;
            }
        }
    }
}
